{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous
{% endblock %}


{% block header %}
	{% include "_shared/_navbar.html.twig" with {'type':'light'} %}
	{% include "_shared/_carousel.html.twig" %}
{% endblock %}

{% block body %}
	<section>
		<div class="container">
			<div class="row">
				<h1>Execution rapide et professionnelle</h1>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, animi. Dolorum, repellendus? Minus facilis doloribus sequi cumque laborum, modi incidunt numquam nulla dolores optio deleniti consequuntur assumenda inventore? Totam quae, ut fugit cum facere recusandae in, alias commodi exercitationem reprehenderit, distinctio ab enim. Asperiores saepe iste quasi impedit fugit eligendi.</p>
			</div>
		</div>
	</section>

	<br>

	<section>
		<div class="container">
			<div class="row">
				<h1>Nos sites</h1>
			</div>
		</div>
	</section>

	<br>

	<section>
		<div class="container">
			<div class="row">
				<h1>Nos logos</h1>
			</div>
		</div>
	</section>

	<br>

	<section>
		<div class="container">
			<div class="row">
				<h1>Nos applications</h1>
			</div>
		</div>
	</section>

	<br>

	<section>
		<div class="container">
			<div class="row">
				<h1>Nos cartes</h1>
			</div>
		</div>
	</section>
{% endblock %}
